/** Add css rules here for your application. */
body {
	font: 12px Arial, sans-serif;
	line-height: 22px;
	color: #414141;
	background:#0072bc url(../images/pgbg.png) top left repeat-x;
}

html, body {

	color:#666666;
}

.gwt-StackLayoutPanel {
        border: none;
        margin: 20px 20px;
              
}
.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
	font: 12px/22px Arial,sans-serif!important;
	border: none;
	border-bottom: 1px solid #EBEBEB!important;
	background: none;
	cursor: pointer;
	cursor: hand;
  	padding: 0 0;
    background-color: #fff;
    color: #222222;
    display: block;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
}
.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader-hovering {
	border: none;
	color: #0072BC;
}
.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
  border: none;   
  background: white;
  padding: 2px 2px 10px 5px;
}

/* Headers */
h1,h2, h3, h4, h5, h6{
	font-family: 'Myriad Pro', Arial, sans-serif;
	padding-top: 11px;
	font-weight: normal;
	letter-spacing: -1px;
}
h2, h3, h4, h5, h6{
	padding-bottom: 4px;
}
h1{
	font-size: 30px;
	color: #0072bc;	
}
h1 span{
	font-size: 20px;
	padding-left: 15px;
	color: #ccc;
}

h2{
	font-size: 26px;
	color: #262626;
}
h3{
	font-size: 20px;
	color: #0073a9;	
}
h4{
	font-size: 20px;
	font-size: #333;	
}
h5{
	font-size: 18px;
	font-size: #666;	
}
h6{
	font-size: 16px;
	font-size: #999;
}

p{
	margin:5px 0;
	line-height:18px;
}

.lofasz {
	border-left: 2px solid #0072BC!important;
	overflow-y: scroll!important;
	background-color: red!important;
}

.tesztScroll {
	width: 233px; /* width: 233px; */
	height: auto; /* height: auto; */
	overflow: auto; /* overflow: auto; */
}
.gwt-SettingshButton {
	position: absolute;
	top: 22px;
	right: 65px;
}


/* Menü testre szabása */
.gwt-MenuBar {
  cursor: default;
  background: none;
  width: 278px!important;
}
.gwt-MenuBar .gwt-MenuItem {
  cursor: default;
  font-family: Arial Unicode MS, Arial, sans-serif;
  width: 260px;
}

/* Fõmenü kijelölt menü */
.gwt-MenuBar .gwt-MenuItem-selected {
  background-color: rgba(0, 0, 0, 0.03);
  color: #aaa;
  cursor: pointer;
}

/* Fõmenü */
.gwt-MenuBar-horizontal {
	padding: 0px;
	border: 1px solid #757575;
}
.gwt-MenuBar-horizontal .gwt-MenuItem {
  color: #dedede;
  font-weight: bold;
  background-color: #565656;
  line-height: 11px; 
}
.gwt-MenuBar-horizontal .gwt-MenuItem-selected {
	color: #fff;
	background-color: #65aa65;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
  width: 1px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background: white;
}
.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .menuSeparatorInner {
  width: 1px;
  height: 1px;
  background: white; 
}
.gwt-MenuBar-vertical {
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.gwt-MenuBar-vertical table {
  border-collapse: collapse;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
  padding: 2px 40px 2px 1px;
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
  padding: 2px 0px;
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
  height: 1px;
  padding: 0px;
  border: 0px;
  border-top: 1px solid #ccc;
  overflow: hidden;
}
.gwt-MenuBar-vertical .subMenuIcon {
  padding-right: 4px;
}
.gwt-MenuBar-vertical .subMenuIcon-selected {
  background: #E3E8F3;
}
.gwt-MenuBarPopup {
  margin: 0px 0px 0px 3px;
}
.gwt-MenuBarPopup .menuPopupTopCenter {
	display: none;
}
.gwt-MenuBarPopup .menuPopupBottomCenter {
	display: none;
}
.gwt-MenuBarPopup .menuPopupMiddleLeft {
	display: none;
}
.gwt-MenuBarPopup .menuPopupMiddleRight {
	display: none;
}
.gwt-MenuBarPopup .menuPopupTopLeftInner {
	background-color: none;
}
.gwt-MenuBarPopup .menuPopupTopRightInner {
	background-color: none;
}
.gwt-MenuBarPopup .menuPopupBottomLeftInner {
	background-color: none;
}
.gwt-MenuBarPopup .menuPopupBottomRightInner {
	background-color: none;
}
.gwt-MenuBarPopup .menuPopupTopLeft {
	background-color: none;
}
.gwt-MenuBarPopup .menuPopupTopRight {
	background-color: none;
	background-image: none;	
}
.gwt-MenuBarPopup .menuPopupBottomLeft {
	background-color: none;
	background-image: none;
}
.gwt-MenuBarPopup .menuPopupBottomRight {
	background-color: none;
	background-image: none;
}
* html .gwt-MenuBarPopup .menuPopupTopLeftInner {
	background-color: none;
}
* html .gwt-MenuBarPopup .menuPopupTopRightInner {
	background-color: none;
}
* html .gwt-MenuBarPopup .menuPopupBottomLeftInner {
	background-color: none;
}
* html .gwt-MenuBarPopup .menuPopupBottomRightInner {
	background-color: none;
	display: none;
}
